{% extends 'QuizApp/base.html' %}

{% block content %}

    <div class="container">
        <h1>Create Quiz</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="submit btn">Create Quiz</button>
        </form>
    </div>
    <div>
      <a href="{% url 'instructor_dashboard' %}" class="btn btn-secondary mt-3">Return to Instructor's Dashboard</a>
    </div>

{% endblock %}
