{% extends 'QuizApp/base.html' %}

{% block content %}

    <div class="container">
        <h2>Edit Quiz: {{ quiz.name }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit">Save Changes</button>
        </form>
        <div class="mt-3">
        <a href="{% url 'instructor_dashboard' %}" class="btn btn-secondary" >Back to Dashboard</a>
      </div>
      </div>

{% endblock %}
