{% extends 'QuizApp/base.html' %}
{% block title %}Login Page{% endblock %}

{% block content %}
<div class="container ">

  <div class="row">
    <div class="col-md-12">
      <h2 class="display-4 mb-4" >Login</h2>

      <!-- Login Form -->
      <div class="card " >
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                {% if field.name == "password" %}
                  <input type="password" id="{{ field.id_for_label }}" name="{{ field.name }}" class="form-control" value="{{ field.value|default_if_none:'' }}" />
                {% else %}
                  <input type="text" id="{{ field.id_for_label }}" name="{{ field.name }}" class="form-control" value="{{ field.value|default_if_none:'' }}" />
                {% endif %}

                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
   
<!-- Button to go back to the front page -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
